.channelTextArea-1V5u9u textarea {
  background: rgba(36,36,36,0.6) !important;
  border: 2px solid rgba(123,97,255,0.6);
  border-radius: 12px;
  padding: 10px;
  color: #e5e5e5;
  transition: all 200ms cubic-bezier(.2,.9,.3,1);
}
.channelTextArea-1V5u9u textarea:focus {
  border-color: rgb(61,242,192);
  box-shadow: 0 0 10px rgb(61,242,192);
}
