.reaction-1Ab2cY {
  transition: transform 0.2s ease, opacity 0.2s ease;
}
.reaction-1Ab2cY:hover {
  transform: scale(1.3);
  opacity: 1;
}

.button-38aScr,
.button-2m7V2Q {
  transition: all 200ms cubic-bezier(.2,.9,.3,1);
}
.button-38aScr:hover,
.button-2m7V2Q:hover {
  transform: scale(1.05);
}
